*{
    background-color: rgba(252, 240, 223, 0.936);
}
h1{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
.content{
    font-size: 18px;
    font-family: 'Georgia';
    position: relative;
}
.menu ol li{
    display: inline;
    font-size: 18px;
    justify-content: space-around;
    border: 2px solid black;
    padding: 3px;
}
.content p{
    position: absolute;
    padding: 18px;
    left: 19rem;
    top: 3rem;
}
.content img{
    width: 300px;
    position: relative;
    border-radius: 20px;
    filter: contrast(128%);
}