h1{
    font-family: Georgia;
    font-size: 44px;
    text-align: center;
}

.desc{
    font-family: Georgia;
    font-size: 20px;
    margin-left: 4px;
    margin-top: 40px;
}


.desc img{
    float: left;
    width: 500px;
    padding: 7px;
}