.heading h1{
    align-items: center;
    margin-left: 500px;
    font-size: 40px;
}

.span-style{
    display: block;
    background-color: yellow;
    height: 200px;
    width: 600px;
}

.style1{
    visibility: hidden;
}

.style3{
    display: none;
}

.style2{
    display: flex;
}