.heading{
    text-align: center;
    color: red;
    border: dotted grey;
    font-size: 42px;
}

table,th,tr,td{
    border: 1px solid purple;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-left: 500px;
}

th,td{
    padding: 2px;
}

.parent{
    font-family: Arial;
    font-size: 18px;
    margin: 50px;
    border: dotted burlywood;
    padding: 33px;
}

.child{
    margin: inherit;
    border: inherit;
    padding: inherit;
}